@(projects: List[Project], todoTasks: List[Task])

@main("Welcome to Play 2.0") {

    <header>
        <hgroup>
            <h1>Dashboard</h1>
            <h2>Tasks over all projects</h2>
        </hgroup>
    </header>

    <article  class="tasks">
        @todoTasks.groupBy(_.getProject()).map {
            case (project, tasks) => {
                <div class="folder" data-folder-id="@project.getId()">
                    <header>
                        <h3>@project.getName()</h3>
                    </header>
                    <ul class="list">
                        @tasks.map { task =>
                            <li data-task-id="@task.getId()">
                                <h4>@task.getTitle()</h4>
                                @if(task.getDueDate() != null) {
                                    <time datetime="@task.getDueDate()">
                                        @task.getDueDate().format("MMM dd yyyy")</time>
                                }

                                @if(task.getAssignedTo() != null && task.getAssignedTo().getEmail() != null) {
                                    <span class="assignedTo">@task.getAssignedTo().getEmail()</span>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    </article>

}